
<div class="col-xs-8 col-xs-offset-2" style="margin-top:50px;">
  <h1>Welcome to the News4U!</h1>
  <p>In our website, all news are attached with some tags, like sports and IT.</p>

  <p>All user can choose their own preference for these tags. The website will suggest news for user according to their perferences on tags.</p>

  <p>Further, users can collect news as their "favorite" while they can also delete news from their "favorite".</p>

  <p>There three type of user: reader, reporter and admin.</p>

  <p>Only reader can only read news but not write news while admin and reporter can write news. However, admin can update and delete all news while reporter can only update or delete the news they write.</p>

  <p>When input preferences for yourself or tags for new report, please use ; to separate tags.</p>

  <p>When you read a news, there can be some suggested tags displayed, you can click them to add them into your preferences.</p>

  <p>Have fun!</p>

  <br>
  <p>Junchi Liang and Jiayang Tong</p>
</div>